<div
    class="gt-color-picker"
    ng-class="{ 'color-picker-inline':inlinePicker }"
>
    <div
        ng-hide="inlinePicker"
        ng-click="toggle($event)"
        class="color-picker-button"
        ng-style="{ 'background': color }"
    ></div>
    <div class="color-picker-container" ng-show="open">
        <div class="color-picker-color"></div>
        <div class="color-picker-alpha">
            <div class="alpha-value" ng-bind="colorOpacity"></div>
            <div class="alpha-label" ng-show="isRgba" translate="OPACITY"></div>
            <div class="alpha" ng-show="isRgba">
                <div class="cursor"></div>
            </div>
        </div>
        <input type="text" ng-model="color" ng-show="showInput" />
    </div>
</div>
